.border-b-2-hover {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease; /* Add a smooth transition effect */
}

.border-b-2-hover:hover {
    border-bottom: 2px solid black; /* Change to white when hovered */
}

.navbar-1.scrolled {
    background: linear-gradient(90deg, #F3EFEC 0.31%, #D6E2FF 41.05%, #FFF 99.67%) ;
    transition: background-color 200ms linear; /* Add a smooth transition effect */
}